build:
  env: node
  buildCommand: npm install
  startCommand: npm start

services:
  - type: web
    name: rc-inv
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
